<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="GoalTaskDBConnection" 
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0; 
             	Data Source=C:\Users\NH054708\Documents\Visual Studio 2017\Projects\GoalTask\GoalTask.Test\bin\Debug\GoalTaskTest.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>




